.avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}
.avatar-fallback {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  font-size: 1em;
}
