@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

/* Apply it globally */
body {
  font-family: 'Urbanist', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100%;    
}