.card2{
  background:#F7F9FB;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

table th {
  color: #555;
}

table td {
  color: #333;
}
